* {
    margin: 0;

}

@mixin flexContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
  background-color: hsla(106, 100%, 50%, 0.452);
}

.Home {
  background-color: hsla(239, 95%, 46%, 0.781);
  width: 100vw;
  height: 96vh;
}

.Home1 {
  background-color: hsla(138, 100%, 51%, 0.671);
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  font-size: 15px;
  margin-top: 25%;
  margin-left: 25%;
  justify-content: center;
  align-items: center;
  height: 10rem;
}


.Mee {
    @include flexContainer;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
    background-color: deepskyblue;


    .about {
        @include flexContainer;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 1rem;
        color: maroon;
    }

    .Me {
        color: saddlebrown;
        margin: 2px 0px 0px 4px;
        background-color: aquamarine;
    }
}

    .project {
        display: flex;
        margin-left: 6rem;
    }

    .mainProject {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        height: 96vh;
        width: 100%;
        background-color: aqua;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 35px;
        margin-right: 20%;
        background-color: aqua;
        height: 810px;
        width: 100%;
    }

    .secondProject {
        display: flex;
        color: rgb(0, 255, 0);
        flex-wrap: wrap;
        flex-direction: column;
        margin-left: 6rem;
        background-color: blueviolet;
        height: 300px;
        width: 275px;
        border-radius: 20px 80px 20px 80px;
        border-style: double;
        border-color: rgb(238, 118, 5);
        border-width: 0.8rem;
        box-shadow: 15px 12px 15px rgba(250, 68, 2, 0.918);
    }

    h4 {
        display: flex;
        flex-wrap: wrap;
        margin-left: 1rem;
        margin-top: 0.3rem;
        width: 6rem;
        height: 2rem;
    }

    .nu {
        margin-top: 2rem;
        margin-left: 1rem;
        width: 90%;
    }

    .feed {
        margin-top: 2rem;
        margin-left: 1rem;
        width: 90%;
    }

    .notes {
        margin-top: 2rem;
        margin-left: 1rem;
        width: 90%;
    }

    .top {
        margin-top: 2rem;
        margin-left: 1rem;
        width: 90%;
    }

    .port {
        margin-top: 2rem;
        margin-left: 1rem;
        width: 90%;
    }

    .daily {
        margin-top: 2rem;
        margin-left: 1rem;
        width: 90%;
    }

    a {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        font-size: 17px;
        color: rgb(255, 0, 179);
        text-decoration: none;
    }


    .contacts {
        background-color: rgb(108, 8, 202);
        height: 96vh;
        width: 100%;
        color: chocolate;
    }

    .contact1 {
        margin-left: 6rem;
    }

    .contactMe {
        display: flex;
        margin-left: 20rem;
        margin-top: 20%;
        font-size: 30px;
        width: 75rem;
        justify-content: center;
        align-items: center;
    }

    .contactlist {
        display: flex;
        flex-direction: column;
        width: 45rem;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        margin-left: 37rem;
    }
