* {
    margin: 0;

}

@mixin flexContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin cardBox {
    margin-top: 2rem;
    margin-left: 1rem;
    width: 90%;
}

.nav {
  background-color: hsla(106, 100%, 50%, 0.452);
}

.Home {
  background-color: hsla(239, 95%, 46%, 0.781);
  width: 100vw;
  height: 100vh;
}

.Home1 {
  background-color: hsla(138, 100%, 51%, 0.671);
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  font-size: 15px;
  margin-top: 25%;
  margin-left: 25%;
  justify-content: center;
  align-items: center;
  height: 10rem;
}


.Mee {
    @include flexContainer;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
    background-color: deepskyblue;


    .about {
        @include flexContainer;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 1rem;
        color: maroon;
    }

    .Me {
        color: saddlebrown;
        margin: 2px 0px 0px 4px;
        background-color: aquamarine;
    }
}


.mainProject {
    @include flexContainer;
    margin: 0;
    flex-wrap: wrap;
    flex-direction: row;
    height: 200vh;
    width: 100vw;
    background-color: aqua;

    .project {
        margin: 0;
    }

    .container {
        background-color: aqua;
    }

    .secondProject {
        color: rgb(0, 255, 0);
        //top right bottom left
        margin: 30px 0px 0px 20px;
        background-color: blueviolet;
        //@media screen min-width 768
        //width: 275px;
        border-radius: 20px 80px 20px 80px;
        border-style: double;
        border-color: rgb(238, 118, 5);
        border-width: 0.8rem;
        box-shadow: 15px 12px 15px rgba(250, 68, 2, 0.918);

        h4 {
            display: flex;
            flex-wrap: wrap;
            margin-left: 1rem;
            margin-top: 0.3rem;
            width: 6rem;
            height: 2rem;
        }

        .nu {
            @include cardBox
        }

        .feed {
            @include cardBox
        }

        .notes {
            @include cardBox
        }

        .top {
            @include cardBox
        }

        .port {
            @include cardBox
        }

        .daily {
            @include cardBox
        }

        a {
            display: flex;
            justify-content: center;
            font-size: 17px;
            color: darkslategrey;
            text-decoration: none;
        }
    }
}



.contacts {
    @include flexContainer;
    flex-direction: column;
    background-color: rgb(108, 8, 202);
    height: 100vh;
    width: 100vw;
    color: chocolate;
    margin: 0;

    .contact1 {
        flex-direction: column;
        margin-bottom: 15px;

    }

    .contactMe {
        margin-left: 15px;
    }

    .contactlist {
        flex-direction: column;
        list-style-type: none;
        
    }

    li {
        flex-direction: column;
    }
}
